<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/matform.css">
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- <script src="https://raw.githubusercontent.com/andiio/selectToAutocomplete/master/jquery-ui-autocomplete.js"></script> -->
<!-- <script src="https://raw.githubusercontent.com/andiio/selectToAutocomplete/master/jquery.select-to-autocomplete.js"></script> -->
<!-- <script src="https://raw.githubusercontent.com/andiio/selectToAutocomplete/master/jquery.select-to-autocomplete.min.js"></script> -->
</head>
<style>
  @media print{
    @page {
    /* margin: 20px 0; */
    size: A4 potrait;
  }
  body::after{
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
    z-index: 1;
    /* background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Tata_Steel_at_Night.jpg/330px-Tata_Steel_at_Night.jpg") no-repeat center center/cover; */
    background-image: url("https://www.marketing91.com/wp-content/uploads/2016/12/tata-steel.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  .logo {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 90px;
    height: 70px;
    z-index: 999;
    background-image: url("https://www.marketing91.com/wp-content/uploads/2016/12/tata-steel.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  #disp{
    display: none;
  }
}
</style>
<body>
  <div class="logo"></div>
    <form>
        <!--  General -->
        <div class="form-group">
          <h2 class="heading">Requestor Details</h2>
          <div class="controls">
            <input type="text" id="name" class="floatLabel" name="name" value="<%= name %>" readonly>
            <label for="name" class="active">Name</label>
          </div>
          <div class="controls">
            <input type="text" id="email" class="floatLabel" name="email" value="<%= email %>" readonly="true">
            <label for="email" class="active">Email</label>
          </div>       
          <div class="controls">
            <input type="tel" id="phone" class="floatLabel" name="phone" value="<%= phone %>" readonly>
            <label for="phone" class="active">Phone</label>
          </div>
          <h2 class="heading">Location Details</h2>
            <div class="grid">
              <div class="col-2-3">
                <div class="controls">
                    <div class="controls">
                        <i class="fa fa-sort"></i>
                        <select  id="street" class="floatLabel" name="sourceDept" readonly required>
                          <option value="<%= data.sdept %>" selected><%= data.sdept %></option>
                        </select>
                        <label class="active" for="street"><i class="fa fa-building"></i>&nbsp;&nbsp;Source Dept.</label>
                    </div> 
                </div>          
              </div>
              <div class="col-1-3">
                <div class="controls">
                  <input type="number" id="street-number" class="floatLabel" name="sourceGno" min="1" max="5" value="<%= data.sgno %>" readonly required>
                  <label for="street-number" class="active"> Source Gate No.</label>
                </div>          
              </div>
            </div>
            <div class="grid">
              <div class="col-2-3">
                <div class="controls">
                    <i class="fa fa-sort"></i>
                    <select  id="tstreet" class="floatLabel" name="destDept" readonly required>
                      <option value="<%= data.tdept %>" selected><%= data.tdept %></option>
                    </select>
                    <label for="tstreet" class="active"><i class="fa fa-building"></i>&nbsp;&nbsp;Destination Dept.</label>
                </div>          
              </div>
              <div class="col-1-3">
                <div class="controls">
                  <input type="number" id="dstreet-number" class="floatLabel" name="destGno" min="1" max="5" value="<%= data.tgno %>" readonly  required>
                  <label for="dstreet-number" class="active">Dest. Gate No.</label>
                </div>          
              </div>
            </div>
            <div class="grid">
                <div class="col-1-3 col-1-3-sm">
                    <div class="controls">
                    <input type="date" id="arrive" class="floatLabel" name="arrive" value="<%= data.arrival %>" readonly  required>
                    <label for="arrive" class="label-date active"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Arrive</label>
                    </div>      
                </div>
                <div class="col-1-3 col-1-3-sm">
                    <div class="controls">
                    <input type="date" id="depart" class="floatLabel" name="depart" value="<%= data.departure %>" readonly required/>
                    <label for="depart" class="label-date active"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Depart</label>
                    </div>      
                </div>
                <div class="col-1-3 col-1-3-sm">
                <div class="controls">
                    <i class="fa fa-sort"></i>
                    <select class="floatLabel" id="addressYears" name="nitems" readonly required>
                      <option value="<%= data.nitems %>" selected><%= data.nitems %></option>
                    </select>
                    <label for="fruit" class="active">Types of Items</label>
                  </div>  
                </div>
                    </div>
            <!-- <div class="grid">
              <div class="col-2-3">
                <div class="controls">
                  <input type="text" id="city" class="floatLabel" name="city">
                  <label for="city">City</label>
                </div>         
              </div>
              <div class="col-1-3">
                <div class="controls">
                  <input type="text" id="post-code" class="floatLabel" name="post-code">
                  <label for="post-code">Post Code</label>
                </div>         
              </div>
            </div> -->
            <!-- <div class="controls">
              <input type="text" id="country" class="floatLabel" name="country">
              <label for="country">Country</label>
            </div> -->
            
           
        </div>
        <!--  Details -->
        <div id="userForm">
        <div id="userFields">
            <div class="form-group" id="form-group">
            </div> <!-- /.form-group -->
            <div>
            
            <div class="grid">
                <h2 class="heading"> Supervisor Approval Details</h2>
                <div class="controls">
                    <input type="text" id="sname" class="floatLabel" name="supName" value="<%= data.supName %>" readonly>
                    <label for="sname" class="active">Name</label>
                  </div>
                  <div class="controls">
                    <input type="text" id="supemail" class="floatLabel" name="supEmail" value="<%= data.supEmail %>" readonly="true">
                    <label for="supemail" class="active">Email</label>
                  </div> 
            <div class="col-1-3 col-1-3-sm">
                <div class="controls">
                    <i class="fa fa-sort"></i>
                        <select  id="sup" class="floatLabel" name="supStatus">
                          <option value="<%= data.supStatus %>" selected><%= data.supStatus %></option>
                        </select>
                        <label for="sup"  class="active"><i class="fa fa-user"></i>&nbsp;&nbsp;Supervisor Status</label>
                </div>      
            </div>
            <div class="col-1-3 col-1-3-sm">
            <div class="controls">
                <input type="date" id="sup-d" class="floatLabel" name="supApprovalDate" value="<%= data.supApprovalDate %>" readonly/>
                    <label for="sup-d" class="label-date active"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Supervisor Approval Date</label>
            </div>     
            </div>
        
            <div class="col-1-3 col-1-3-sm">
            <div class="controls">
                <input type="text" id="sup-cmts" class="floatLabel" name="supComments" value="<%= data.supComments %>" readonly>
                 <label for="sup-cmts"  class="active">Supervisor Comments</label>
            </div>     
            </div>
                
            </div>
            <div>
            </div>
            <!-- ------------ -->
            <div class="grid">
                <h2 class="heading">HOD Approval Details</h2>
              <div class="controls">
                <input type="text" id="hname" class="floatLabel" name="hodName" value="<%= data.hodName %>" readonly>
                <label for="hname" class="active">Name</label>
              </div>
              <div class="controls">
                <input type="text" id="hodemail" class="floatLabel" name="hodEmail" value="<%= data.hodEmail %>" readonly="true">
                <label for="hodemail" class="active">Email</label>
              </div> 
            <div class="col-1-3 col-1-3-sm">
                <div class="controls">
                    <i class="fa fa-sort"></i>
                        <select  id="hod" class="floatLabel" name="hodStatus" required readonly>
                          <option value="<%= data.hodStatus %>" selected><%= data.hodStatus %></option>
                        </select>
                        <label for="hod"  class="active"><i class="fa fa-user"></i>&nbsp;&nbsp;HOD Status</label>
                </div>      
            </div>
            <div class="col-1-3 col-1-3-sm">
            <div class="controls">
                <input type="date" id="hod-d" class="floatLabel" name="hodApprovalDate" value="<%= data.hodApprovalDate %>" readonly required/>
                    <label for="hod-d" class="label-date active"><i class="fa fa-calendar"></i>&nbsp;&nbsp;HOD Approval Date</label>
            </div>     
            </div>
        
            <div class="col-1-3 col-1-3-sm">
            <div class="controls">
                <input type="text" id="hod-cmts" class="floatLabel" name="hodComments" value="<%= data.hodComments %>" readonly required>
                 <label for="hod-cmts"  class="active">HOD Comments</label>
            </div>     
            </div>
                
            </div>
            <!-- ---------------------- -->
            <div class="grid">
                <h2 class="heading">Security Approval Details</h2>
              <div class="controls">
                <input type="text" id="secname" class="floatLabel" name="secName" value="<%= data.secName %>" readonly>
                <label for="secname" class="active">Name</label>
              </div>
              <div class="controls">
                <input type="text" id="secemail" class="floatLabel" name="secEmail" value="<%= data.secEmail %>" readonly="true">
                <label for="secemail" class="active">Email</label>
              </div> 
            <div class="col-1-3 col-1-3-sm">
                <div class="controls" >
                    <i class="fa fa-sort"></i>
                        <select  id="sec" class="floatLabel active" name="secStatus" required >
                          <option value="<%= data.secStatus %>" selected><%= data.secStatus %></option>
                        </select>
                        <label for="sec"  class="active" ><i class="fa fa-user"></i>&nbsp;&nbsp;Security Status</label>
                </div>      
            </div>
            <div class="col-1-3 col-1-3-sm">
            <div class="controls">
                <input type="date" id="sec-d" class="floatLabel" name="secApprovalDate" value="<%= data.secApprovalDate %>" required/>
                    <label for="sec-d" class="label-date active"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Item Approval Date</label>
            </div>     
            </div>
            <div class="col-1-3 col-1-3-sm">
            <div class="controls">
                <input type="text" id="sec-cmts" class="floatLabel" name="secComments" value="<%= data.secComments %>" required readonly>
                 <label for="sec-cmts"  class="active">Item Status</label>
            </div>     
            </div>
            </div>
            </div>


            <button onclick="fun()" class="col-1-4" id="disp" style="display: <%= msg %>;">Print Gate-Pass</button>
            
        </div>
        
      </form>
</body>
<script src="https://use.fontawesome.com/723b3db6c5.js"></script>
<script src="/js/matform.js"></script>
<script>
  const fun =()=> {
    window.print();
  }
    const users = '<%= JSON.stringify(data) %>';
    let res = users.replace(/&#34;/g, '"');
    let data = JSON.parse(`${res}`);
    const fg = document.getElementById("form-group");

  for (var i = 1; i <= data.nitems; i++) {
const dn = data[`it${i}Name`];
const dp = data[`it${i}Pno`];
const dq = data[`it${i}Qty`];
  fg.innerHTML+=`
  <h2 class="heading1">Details of Item-${i}</h2>
            <div class="grid">
            <div class="col-1-3 col-1-3-sm">
                <div class="controls">
                    <input type="text" id="it${i}-name" class="floatLabel" name="it${i}Name" value="${dn}"" readonly required>
                    <label for="it${i}-name" class="active">Item Name</label>
                </div>      
            </div>
            <div class="col-1-3 col-1-3-sm">
            <div class="controls">
                <input type="text" id="it${i}-pno" class="floatLabel" name="it${i}Pno" value="${dp}" readonly required>
                 <label for="it${i}-pno" class="active">Product Part No.</label>

            </div>     
            </div>
        
            <div class="col-1-3 col-1-3-sm">
            <div class="controls">
                <input type="text" id="it${i}_qty" class="floatLabel" name="it${i}Qty" value="${dq}" readonly required>
                 <label for="it${i}_qty" class="active">Quantity</label>
            </div>     
            </div>
                
            </div>`;
  }

</script>
</html>