<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/userdb.css">
    <link rel="stylesheet" href="/css/gplist.css">
</head>
<body>
    <div class="wrapper">
        <div class="profile-card js-profile-card">
          <div class="profile-card__img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHx-26qVB4sL3d0S0bA31ronzegMlaIQ_yltFJz9T84teKbKVU9AEIyuRRE6qnyZlBArg&usqp=CAU" alt="profile card">
          </div>
      
          <div class="profile-card__cnt js-profile-cnt">
            <div class="profile-card__name"><%= name %> </div>
            <div class="profile-card__txt"><%= role %> from <strong>Tata Steel</strong></div>
            <div class="profile-card-loc">
              
              Deparment : 
              <span class="profile-card-loc__txt"> &nbsp;<%= dept %></span>
            </div>
      
            <div class="profile-card-inf">
              <div class="profile-card-inf__item">
                <div class="profile-card__txt"><strong>ID:</strong> <%= pno %> </div>
              </div>
              <div class="profile-card-inf__item">
                <div class="profile-card__txt"><strong>Mail:</strong> <%=email %> </div>
              </div>
      
              <div class="profile-card-inf__item">
                <div class="profile-card__txt"><strong>Phone:</strong> <%= phone %> </div>
              </div>
              <div class="profile-card-inf__item">
                <div class="profile-card__txt"><strong>Gender:</strong> <%= gender[0] %> </div>
              </div>
      
      
            </div>
            <div class="profile-card-ctr">
              <a href="/userlogout"><button class="profile-card__button button--blue">signout</button></a>
              <a href="/material/gatepass"><button class="profile-card__button button--orange">Apply</button></a>
            </div>
          </div>
      
          <div class="profile-card-message js-message">
            <form class="profile-card-form">
              <div class="profile-card-form__container">
                <textarea placeholder="Say something..."></textarea>
              </div>
      
              <div class="profile-card-form__bottom">
                <button class="profile-card__button button--blue js-message-close">
                  Send
                </button>
      
                <button class="profile-card__button button--gray js-message-close">
                  Cancel
                </button>
              </div>
            </form>
            <div class="profile-card__overlay js-message-close"></div>
        </div>
        </div>
        <div id="demo">
            <h1>Applied Gate Pass Approval Status</h1>
            <h2>Table for tracking the Approval status of Material Gatepass <br> Once the form is approved by Each one of them,then you can print the Gatepass Approval Report (with Proper validations & Watermarks).</h2>
            
            <!-- Responsive table starts here -->
            <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
            <div class="table-responsive-vertical shadow-z-1">
            <!-- Table starts here -->
            <table id="table" class="table table-hover table-mc-light-blue">
                <thead>
                  <tr>
                    <th>Gatepass-ID</th>
                    <th>Type</th>
                    <th>Supervisor</th>
                    <th>HOD</th>
                    <th>Security</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i=1;i<=data.length;i++){ %>
                  <tr>
                    <td data-title="ID"><%= data[i-1].gpid %></td>
                    <td data-title="Name">
                      <% if( data[i-1].sec === "approved"){ %>
                      <a href="/showstatus/<%= email %>/<%= data[i-1].ref %>/1" style="color: blue;"><%= data[i-1].name %></a>
                      <% }else{ %>
                        <a href="/showStatus/<%= email %>/<%= data[i-1].ref %>/0" style="color: blue;"><%= data[i-1].name %></a>
                        <% } %>
                    </td>
                    <% if(data[i-1].sup === undefined || data[i-1].sup == ""){ %>
                    <td data-title="Supervisor">Pending</td>
                    <% }else if(data[i-1].sup === "approved"){ %>
                      <td data-title="Supervisor" style="background-color: rgba(67, 248, 67, 0.704);"><%= data[i-1].sup %></td>
                    <% }else{ %>
                      <td data-title="Supervisor" style="background-color: rgba(255, 39, 39, 0.74);"><%= data[i-1].sup %></td>
                      <% } %>
                      <!-- --------------------------- -->
                    <% if( data[i-1].hod === undefined){ %>
                    <td data-title="HOD">Pending</td>
                    <% }else if( data[i-1].hod === "approved"){ %>
                      <td data-title="HOD"  style="background-color: rgba(67, 248, 67, 0.704);"><%= data[i-1].hod %></td>
                    <% }else{ %>
                        <td data-title="HOD" style="background-color: rgba(255, 39, 39, 0.74);"><%= data[i-1].hod %></td>
                        <% } %>
                      <!-- --------------------------- -->
                    <% if( data[i-1].sec === undefined){ %>
                    <td data-title="Security">Pending</td>
                    <% }else if( data[i-1].sec === "approved"){ %>
                      <td data-title="Security" style="background-color: rgba(67, 248, 67, 0.704);"><%= data[i-1].sec %></td>
                      <% }else{ %>
                        <td data-title="Security" style="background-color: rgba(255, 39, 39, 0.74);"><%= data[i-1].sec %></td>
                        <% } %>
                  </tr>
                  <% } %>
                 
                </tbody>
              </table>
            </div>
          </div>




      </div>

</body>
<script src="/js/userdb.js"></script>
</html>